<!DOCTYPE html>
<html>
  <head>
    <title>Sorcery Example App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<div>
  		<% if current_user %>
      	<%= link_to 'Edit Profile', edit_user_path(current_user.id) %>
      	<%= link_to 'Log out', logout_path, method: :delete %>
      <% else %>
      	<%= link_to 'Magic Login', logins_new_path %>
      <% end %>
  	</div>

    <%= yield %>
  </body>
</html>
